@import url("https://fonts.googleapis.com/css?family=Lato|Russo+One");

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/**********_____ Astronaut and rocket start _____**********/
  @-moz-keyframes rocket-movement {100% {-moz-transform: translate(1200px,-600px);}}
  @-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1200px,-600px);}}
  @keyframes rocket-movement {100% {transform: translate(1200px,-600px);}}
  
  @-moz-keyframes move-astronaut {100% {-moz-transform: translate(-160px, -160px);}}
  @-webkit-keyframes move-astronaut {100% {-webkit-transform: translate(-160px, -160px);}}
  @keyframes move-astronaut{100% {-webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px);}}
  
  @-moz-keyframes rotate-astronaut {100% {-moz-transform: rotate(-720deg);}}
  @-webkit-keyframes rotate-astronaut {100% {-webkit-transform: rotate(-720deg);}}
  @keyframes rotate-astronaut{100% {-webkit-transform: rotate(-720deg); transform:rotate(-720deg);}}
  
  .objects img{
    z-index: 90;
    pointer-events: none;
  }
  .object_rocket{
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: rocket-movement 200s linear infinite both running;
  }
  .object_astronaut{
    animation: rotate-astronaut 200s infinite linear both alternate;
  }
  .box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
  }
/**********_____ Astronaut and rocket finish _____**********/


/**********_____ Stars start _____**********/
  .container-star {
    background-image: linear-gradient(to bottom, #292256 0%, #8446cf 70%, #a871d6 100%);
  }
  .container-star:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(15, 10, 38, 0.2) 100%);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .star-1 {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-animation: twinkle 5s infinite ease-in-out;
            animation: twinkle 5s infinite ease-in-out;
  }
  .star-1:after {
    height: 100%;
    width: 100%;
    transform: rotate(90deg);
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
  }
  .star-1:before {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    border-radius: 50%;
    content: "";
    top: -20%;
    left: -50%;
  }
  .star-1:nth-of-type(1) {
    top: 82vh;
    left: 60vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-1:nth-of-type(1):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(2) {
    top: 36vh;
    left: 30vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(2):before {
    width: 10px;
    height: 10px;
    top: -250%;
  }
  .star-1:nth-of-type(3) {
    top: 15vh;
    left: 99vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(3):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(4) {
    top: 5vh;
    left: 63vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-1:nth-of-type(4):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-1:nth-of-type(5) {
    top: 87vh;
    left: 3vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-1:nth-of-type(5):before {
    width: 12px;
    height: 12px;
    top: -250%;
  }
  .star-1:nth-of-type(6) {
    top: 52vh;
    left: 59vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-1:nth-of-type(6):before {
    width: 16px;
    height: 16px;
    top: -250%;
  }
  .star-1:nth-of-type(7) {
    top: 60vh;
    left: 63vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-1:nth-of-type(7):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-1:nth-of-type(8) {
    top: 73vh;
    left: 44vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(8):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(9) {
    top: 51vh;
    left: 62vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(9):before {
    width: 18px;
    height: 18px;
    top: -250%;
  }
  .star-1:nth-of-type(10) {
    top: 63vh;
    left: 66vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(10):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(11) {
    top: 3vh;
    left: 57vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(11):before {
    width: 18px;
    height: 18px;
    top: -250%;
  }
  .star-1:nth-of-type(12) {
    top: 85vh;
    left: 1vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .star-1:nth-of-type(12):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(13) {
    top: 24vh;
    left: 72vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(13):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(14) {
    top: 59vh;
    left: 33vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(14):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(15) {
    top: 1vh;
    left: 10vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-1:nth-of-type(15):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(16) {
    top: 46vh;
    left: 3vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-1:nth-of-type(16):before {
    width: 16px;
    height: 16px;
    top: -250%;
  }
  .star-1:nth-of-type(17) {
    top: 15vh;
    left: 81vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .star-1:nth-of-type(17):before {
    width: 16px;
    height: 16px;
    top: -250%;
  }
  .star-1:nth-of-type(18) {
    top: 47vh;
    left: 55vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .star-1:nth-of-type(18):before {
    width: 10px;
    height: 10px;
    top: -250%;
  }
  .star-1:nth-of-type(19) {
    top: 36vh;
    left: 39vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(19):before {
    width: 10px;
    height: 10px;
    top: -250%;
  }
  .star-1:nth-of-type(20) {
    top: 85vh;
    left: 28vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(20):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(21) {
    top: 41vh;
    left: 60vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(21):before {
    width: 18px;
    height: 18px;
    top: -250%;
  }
  .star-1:nth-of-type(22) {
    top: 22vh;
    left: 31vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(22):before {
    width: 10px;
    height: 10px;
    top: -250%;
  }
  .star-1:nth-of-type(23) {
    top: 43vh;
    left: 49vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-1:nth-of-type(23):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-1:nth-of-type(24) {
    top: 57vh;
    left: 25vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-1:nth-of-type(24):before {
    width: 10px;
    height: 10px;
    top: -250%;
  }
  .star-1:nth-of-type(25) {
    top: 18vh;
    left: 22vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(25):before {
    width: 12px;
    height: 12px;
    top: -250%;
  }
  .star-1:nth-of-type(26) {
    top: 86vh;
    left: 21vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-1:nth-of-type(26):before {
    width: 16px;
    height: 16px;
    top: -250%;
  }
  .star-1:nth-of-type(27) {
    top: 36vh;
    left: 64vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-1:nth-of-type(27):before {
    width: 18px;
    height: 18px;
    top: -250%;
  }
  .star-1:nth-of-type(28) {
    top: 14vh;
    left: 68vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-1:nth-of-type(28):before {
    width: 18px;
    height: 18px;
    top: -250%;
  }
  .star-1:nth-of-type(29) {
    top: 5vh;
    left: 2vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(29):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-1:nth-of-type(30) {
    top: 97vh;
    left: 66vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-1:nth-of-type(30):before {
    width: 14px;
    height: 14px;
    top: -250%;
  }
  .star-2 {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-animation: twinkle 5s infinite ease-in-out;
            animation: twinkle 5s infinite ease-in-out;
  }
  .star-2:nth-of-type(31) {
    top: 80vh;
    left: 51vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(31):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(32) {
    top: 12vh;
    left: 59vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-2:nth-of-type(32):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(33) {
    top: 53vh;
    left: 51vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-2:nth-of-type(33):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(34) {
    top: 82vh;
    left: 42vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(34):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(35) {
    top: 4vh;
    left: 89vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-2:nth-of-type(35):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(36) {
    top: 45vh;
    left: 9vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(36):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(37) {
    top: 28vh;
    left: 60vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .star-2:nth-of-type(37):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(38) {
    top: 11vh;
    left: 55vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-2:nth-of-type(38):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(39) {
    top: 25vh;
    left: 31vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-2:nth-of-type(39):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(40) {
    top: 21vh;
    left: 70vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(40):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(41) {
    top: 23vh;
    left: 63vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .star-2:nth-of-type(41):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(42) {
    top: 39vh;
    left: 22vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(42):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(43) {
    top: 40vh;
    left: 44vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(43):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(44) {
    top: 68vh;
    left: 36vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(44):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(45) {
    top: 69vh;
    left: 12vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-2:nth-of-type(45):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(46) {
    top: 58vh;
    left: 79vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(46):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(47) {
    top: 38vh;
    left: 81vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-2:nth-of-type(47):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(48) {
    top: 36vh;
    left: 19vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .star-2:nth-of-type(48):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(49) {
    top: 82vh;
    left: 57vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(49):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(50) {
    top: 87vh;
    left: 59vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(50):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(51) {
    top: 5vh;
    left: 18vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(51):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(52) {
    top: 81vh;
    left: 99vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(52):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(53) {
    top: 41vh;
    left: 78vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-2:nth-of-type(53):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(54) {
    top: 14vh;
    left: 90vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-2:nth-of-type(54):before {
    width: 4px;
    height: 4px;
    top: -250%;
  }
  .star-2:nth-of-type(55) {
    top: 15vh;
    left: 55vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(55):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(56) {
    top: 57vh;
    left: 39vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(56):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(57) {
    top: 90vh;
    left: 83vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .star-2:nth-of-type(57):before {
    width: 6px;
    height: 6px;
    top: -250%;
  }
  .star-2:nth-of-type(58) {
    top: 69vh;
    left: 89vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .star-2:nth-of-type(58):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(59) {
    top: 74vh;
    left: 39vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .star-2:nth-of-type(59):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
  .star-2:nth-of-type(60) {
    top: 17vh;
    left: 17vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .star-2:nth-of-type(60):before {
    width: 8px;
    height: 8px;
    top: -250%;
  }
/**********_____ Stars finish _____**********/


/**********_____ Moon start _____**********/
  .moon {
    position: absolute;
    display: block;
    bottom: 16%;
    left: 44%;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #ff1177;
    -webkit-animation: rotate 5s ease-in-out infinite;
            animation: rotate 5s ease-in-out infinite;
  }
  .moon .face {
    top: 60%;
    left: 47%;
    position: absolute;
  }
  .moon .face .mouth {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #5c3191;
    width: 25px;
    height: 25px;
    position: absolute;
    -webkit-animation: snore 5s ease-in-out infinite;
            animation: snore 5s ease-in-out infinite;
    transform: rotate(45deg);
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.3);
  }
  .moon .face .eyes {
    position: absolute;
    top: -30px;
    left: -30px;
  }
  .moon .face .eyes .eye-left,
  .moon .face .eyes .eye-right {
    border: 4px solid #5c3191;
    width: 30px;
    height: 15px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    position: absolute;
  }
  .moon .face .eyes .eye-left:before, .moon .face .eyes .eye-left:after,
  .moon .face .eyes .eye-right:before,
  .moon .face .eyes .eye-right:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #5c3191;
    top: -2px;
    left: -4px;
  }
  .moon .face .eyes .eye-left:after,
  .moon .face .eyes .eye-right:after {
    left: auto;
    right: -4px;
  }
  .moon .face .eyes .eye-right {
    left: 50px;
  }
/**********_____ Moon finish _____*********/


/**********_____ Birds start _____**********/
  .container-bird {
    perspective: 2000px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .bird {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 50px;
    transform: translate3d(-100vw, 0, 0) rotateY(90deg);
    transform-style: preserve-3d;
  }
  .bird-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translate3d(50px, 30px, -300px);
  }
  .wing {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    z-index: 300;
  }
  .wing-left {
    background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
    transform: translate3d(0, 0, 0) rotateX(-30deg);
    -webkit-animation: wingLeft 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
            animation: wingLeft 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
  }
  .wing-right {
    background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
    transform: translate3d(0, 0, 0) rotateX(-30deg);
    -webkit-animation: wingRight 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
            animation: wingRight 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
  }
  .wing-right-top,
  .wing-left-top {
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    top: -20px;
    width: 100%;
    position: absolute;
    transform-origin: 100% 100%;
  }
  .wing-right-top {
    border-bottom: 20px solid #b8a5d1;
    transform: translate3d(0, 0, 0) rotateX(60deg);
    -webkit-animation: wingRightTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
            animation: wingRightTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
  }
  .wing-left-top {
    border-bottom: 20px solid #7979a8;
    transform: translate3d(0, 0, 0) rotateX(-60deg);
    -webkit-animation: wingLeftTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
            animation: wingLeftTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
  }
  .bird-anim:nth-child(1) {
    -webkit-animation: bird1 30s linear infinite forwards;
            animation: bird1 30s linear infinite forwards;
  }
  /* .bird-anim:nth-child(2) {
    -webkit-animation: bird2 30s linear infinite forwards;
            animation: bird2 30s linear infinite forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    z-index: -1;
  } */
  .bird-anim:nth-child(3) {
    -webkit-animation: bird3 30s linear infinite forwards;
            animation: bird3 30s linear infinite forwards;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  /* .bird-anim:nth-child(4) {
    -webkit-animation: bird4 30s linear infinite forwards;
            animation: bird4 30s linear infinite forwards;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  } */
  /* .bird-anim:nth-child(5) {
    -webkit-animation: bird5 30s linear infinite forwards;
            animation: bird5 30s linear infinite forwards;
    -webkit-animation-delay: 14s;
            animation-delay: 14s;
  } */
  .bird-anim:nth-child(6) {
    -webkit-animation: bird6 30s linear infinite forwards;
            animation: bird6 30s linear infinite forwards;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    z-index: -1;
  }
  
  @-webkit-keyframes rotate {
    0%, 100% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    0%, 100% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes snore {
    0%, 100% {
      transform: scale(1) rotate(30deg);
    }
    50% {
      transform: scale(0.5) rotate(30deg);
      border-bottom-left-radius: 50%;
    }
  }
  @keyframes snore {
    0%, 100% {
      transform: scale(1) rotate(30deg);
    }
    50% {
      transform: scale(0.5) rotate(30deg);
      border-bottom-left-radius: 50%;
    }
  }
  @-webkit-keyframes twinkle {
    0%, 100% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.3;
    }
  }
  @keyframes twinkle {
    0%, 100% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.3;
    }
  }
  @-webkit-keyframes wingLeft {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(-50deg);
    }
    50% {
      transform: translate3d(0, -20px, 0) rotateX(-130deg);
      background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
    }
  }
  @keyframes wingLeft {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(-50deg);
    }
    50% {
      transform: translate3d(0, -20px, 0) rotateX(-130deg);
      background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
    }
  }
  @-webkit-keyframes wingLeftTop {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(-10deg);
    }
    50% {
      transform: translate3d(0px, 0px, 0) rotateX(-40deg);
      border-bottom: 20px solid #b8a5d1;
    }
  }
  @keyframes wingLeftTop {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(-10deg);
    }
    50% {
      transform: translate3d(0px, 0px, 0) rotateX(-40deg);
      border-bottom: 20px solid #b8a5d1;
    }
  }
  @-webkit-keyframes wingRight {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(50deg);
    }
    50% {
      transform: translate3d(0, -20px, 0) rotateX(130deg);
      background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
    }
  }
  @keyframes wingRight {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(50deg);
    }
    50% {
      transform: translate3d(0, -20px, 0) rotateX(130deg);
      background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
    }
  }
  @-webkit-keyframes wingRightTop {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(10deg);
    }
    50% {
      transform: translate3d(0px, 0px, 0px) rotateX(40deg);
      border-bottom: 20px solid #7979a8;
    }
  }
  @keyframes wingRightTop {
    0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(10deg);
    }
    50% {
      transform: translate3d(0px, 0px, 0px) rotateX(40deg);
      border-bottom: 20px solid #7979a8;
    }
  }
  @-webkit-keyframes bird1 {
    0% {
      transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
    }
    100% {
      transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
    }
  }
  @keyframes bird1 {
    0% {
      transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
    }
    100% {
      transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes bird2 {
    0%, 15% {
      transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
    }
    100% {
      transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
    }
  }
  @keyframes bird2 {
    0%, 15% {
      transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
    }
    100% {
      transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes bird3 {
    0% {
      transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }
    100% {
      transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }
  }
  @keyframes bird3 {
    0% {
      transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }
    100% {
      transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }
  }
  @-webkit-keyframes bird4 {
    0% {
      transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }
    100% {
      transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }
  }
  @keyframes bird4 {
    0% {
      transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }
    100% {
      transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }
  }
  @-webkit-keyframes bird5 {
    0%, 5% {
      transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }
    100% {
      transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }
  }
  @keyframes bird5 {
    0%, 5% {
      transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }
    100% {
      transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }
  }
  @-webkit-keyframes bird6 {
    0%, 10% {
      transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
    }
    100% {
      transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
    }
  }
  @keyframes bird6 {
    0%, 10% {
      transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
    }
    100% {
      transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
    }
  }
/**********_____ Birds finish _____**********/


body {
  font-family: "Lato", sans-serif;
}

p{
  margin-bottom: 15px;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container-title {
  width: 100%;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.title > * {
  display: inline-block;
  font-size: 75px;
}

.number {
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  padding: 0 0.2em;
  font-family: "Russo One", sans-serif !important;
}
.number3{
  display: none;
}

.copyright {
  margin-top: 1.5em;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -5%;
  letter-spacing: 1px;
  text-align: center;
}


/**********_____ Nav start _____**********/
  .nav_mobile{
    display: none;
  }
  .nav_container1{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .list_nav1{
    background-color: #8446cf;
    border-radius: 16px;
    border: 2px solid white;
    display: grid;
    align-content: center;
  }
  #dropdown_link_5{
    border: none;
  }

  .nav{
    --img1: scale(1);
    --img2: scale(0);
  }
  .nav:has(.dropdown:target){
    --img1: scale(0);
    --img2: scale(1);
    
    --clip: inset(0 0 0 0);
  }
  .nav_container{
    width: 100%;
    height: 60px;
    
    display: grid;
    grid-template-areas: "icon";
    justify-content: end;
    align-content: center;
    overflow: hidden;
  }
  .nav_menu{
    grid-area: icon;
    position: relative;
    z-index: 10;
    text-decoration: none;

    transform: var(--img1);
  }
  .nav_menu_second{
    transform: var(--img2);    
  }
  .nav_icon {
    width: 50px;
    display: block;
    color: #ffff;
    font-size: 30px;
    text-decoration: none;
  }
  .nav_icon_first:hover, .nav_icon_second:hover, .dropdown_icon:hover{
    font-weight: bold;
    transform: scale(1.18);
    transition: all 0.9s;
  }
  /* #292256 0%, #8446cf 70%, #a871d6 100% */
  .dropdown{
    position: absolute;
    background-color: #8446cf;
    border-radius: 20px;
    border: 2px solid white;
    width: 26%;
    height: 9%;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    align-content: center;
    
    clip-path: var(--clip, inset(0 0 100% 100%)); /* Esto es para generar recortes, pero no me aparece el dropdown*/
    transition: clip-path .5s;
  }
  .dropdown_list{
    list-style: none;
  }
  .dropdown_link{
    color: #fff;
    padding: 11px;
    text-decoration: none;
    border-radius: 20px;
    border-right: 2px solid white;
    
    display: inline-block;
    align-items: center;
    position: relative;
  }
  .dropdown_icon{
    font-size: 28px;
  }
/**********_____ Nav finish _____**********/


/**********_____ Ventana Modal _____**********/
  .modal_fondo{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 10;
  }
  .modal{
    background-color: #F2ECFF;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    z-index: 50;
  }
  .modal_cerrar{
    background: #F2ECFF;
    position: absolute;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
  }
  .modal_cerrar:hover{
    background: #a871d6;
  }
  .modal_titulo{
    text-decoration: underline;
    margin-top: 0;
    font-weight: bold;
    padding: 18px 7px 0px 7px;
  }
  .modal_mensaje {
    text-align: center;
    padding: 17px;
  }
  .mensaje1{
    text-align: justify !important;
  }
  .redes{
    padding-top: 8px;
    padding-bottom: 0px;
  }
  input,textarea{
    border: 1px solid black;
    border-radius: 10px;
  }
  form div button{
    background-color: #a871d6;
    opacity: 0.9;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
  }
  form div button:hover{
    opacity: 0.7;
  }
  .pdf_cv{
    position: relative;
    display: inline-block;
  }
  .linkedin{
    position: relative;
    display: inline-block;
  }
  .whatsapp{
    position: relative; 
    display: inline-block;
  }
/********** Fin Ventana Modal **********/


@media only screen and (max-width: 320px){
  .number{
    font-size: 30px;
  }
  .number1{
    padding-top: 75px;
  }
  .number2{
    letter-spacing: 3px;
  }
  .moon{
    bottom: 16%;
    left: 26%;
  }
  .copyright{
    font-size: 15px;
    padding-bottom: 35px;
  }
  .object_astronaut{
    width: 30px;
  }
  
  .nav{
    display: none;
  }
  .nav_mobile{
    display: block;
  }
  .nav_container1{
    margin-top: 5px;
  }
  .dropdown_icon{
    font-size: 23px;
  }
  .dropdown_link{
    padding: 10px;
  }
  #dropdown_link_5{
    border: none;
  }
  
  .modal{
    width: 85%;
    height: auto;
  } 
  .modal_cerrar{
    width: 30px;
    height:  30px;
    font-size: 14px;
    right: -12px;
    top: -10px;
  }
  .modal_titulo{
    font-size: 25px;
  }
  .modal_mensaje{
    font-size: 15px;
    padding: 14px;
  }
  input,textarea{
    font-size: 15px;
    width: 240px;
    height: auto;
    padding: 5px;
    margin: 3px;
  }
  form div button{
    font-size: 15px;
    padding: 8px;
    margin-bottom: 6px;
  }
  .pdf_cv{
    bottom: -7px;
    left: -15px;
  }
  .linkedin{
    bottom: -6px;
  }
  .whatsapp{
    bottom: -7px;
    right: -10px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px){
  .number{
    font-size: 35px;
  }
  .number1{
    padding-top: 30px;
  }
  .number2{
    letter-spacing: 3px;
  }
  .moon{
    bottom: 20%;
    left: 30%;
  }
  .copyright{
    font-size: 17px;
    padding-bottom: 28px;
  }
  .object_astronaut{
    width: 35px;
  }

  .nav{
    display: none;
  }
  .nav_mobile{
    display: block;
  }
  .nav_container1{
    margin-top: 8px;
  }
  .dropdown_icon{
    font-size: 24px;
  }
  .dropdown_link{
    padding: 11px;
  }

  .modal{
    width: 90%;
    height: auto;
  }
  .modal_cerrar{
    width: 35px;
    height:  35px;
    font-size: 17px;
    right: -14px;
    top: -14px;
  }
  .modal_titulo{
    font-size: 28px;
  }
  .modal_mensaje{
    font-size: 18px;
  }
  input,textarea{
    font-size: 18px;
    width: 280px;
    height: auto;
    padding: 7px;
    margin: 3px;
  }
  form div button{
    font-size: 18px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -8px;
    left: -17px;
  }
  .linkedin{
    bottom: -7px;
  }
  .whatsapp{
    bottom: -8px;
    right: -12px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px){ 
  .number{
    font-size: 40px;
  }
  .number2{
    letter-spacing: 4px;
  } 
  .moon{
    bottom: 16%;
    left: 30%;
  }
  .copyright{
    font-size: 20px;
    top: 100%;
  }
  .object_astronaut{
    width: 40px;
  }
  
  .nav{
    display: none;
  }
  .nav_mobile{
    display: block;
  }
  .nav_container1{
    margin-top: 10px;
  }
  .dropdown_link{
    padding: 12px;
  }
  
  .modal{
    width: 90%;
    height: auto;
  }
  .modal_cerrar{
    width: 40px;
    height:  40px;
    font-size: 20px;
    right: -15px;
    top: -15px;
  }
  .modal_titulo{
    font-size: 35px;
  }
  .modal_mensaje{
    font-size: 21px;
  }
  input,textarea{
    font-size: 21px;
    width: 325px;
    height: auto;
    padding: 10px;
    margin: 5px;
  }
  form div button{
    font-size: 21px;
    padding: 10px;
    margin-bottom: 14px;
  }
  .pdf_cv{
    bottom: -10px;
    left: -17px;
  }
  .linkedin{
    bottom: -8px;
  }
  .whatsapp{
    bottom: -10px;
    right: -12px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px){ 
  .number{
    font-size: 60px;
    letter-spacing: 2px;
  }
  .moon{
    bottom: 50;
    left: 40%;
  }
  .copyright{
    font-size: 25px;
    top: 100%;
  }
  
  .dropdown{
    width: 64.5%;
    height: 8.5%;
  }
  .dropdown_link{
    padding: 15px;
  }
  .dropdown_icon{
    font-size: 43px;
  }
  .nav_icon{
    font-size: 43px;
    margin-right: 0px;
    margin-top: 25px;
  }
  
  .modal{
    width: 70%;
    height: auto;
  }
  .modal_cerrar{
    width: 35px;
    height: 35px;
    font-size: 24px;
    right: -15px;
    top: -15px;
  }
  .modal_titulo{
    font-size: 35px;
  }
  .modal_mensaje{
    font-size: 25px;
  }
  input,textarea{
    font-size: 25px;
    width: 325px;
    height: auto;
    padding: 10px;
    margin: 5px;
  }
  form div button{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -17px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -12px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .number{
    letter-spacing: 2px;
  }
  .number1{
    margin-top: -25px;
  }
  .moon{
    bottom: 50;
    left: 42%;
  }
  .copyright{
    font-size: 24px;
    top: 100%;
  }
  
  .dropdown{
    width: 54%;
    height: 8%;
  }
  .dropdown_link{
    padding: 15px;
  }
  .dropdown_icon{
    font-size: 50px;
  }
  .nav_container{
    height: 100px;
  }
  .nav_icon{
    font-size: 45px;
    margin-right: 5px;
    margin-top: 10px;
  }
  
  .modal{
    width: 67%;
    height: auto;
  }
  .modal_cerrar{
    width: 40px;
    height: 40px;
    font-size: 25px;
    right: -19px;
    top: -19px;
  }
  .modal_titulo{
    font-size: 42px;
  }
  .modal_mensaje{
    font-size: 26px;
  }
  input,textarea{
    font-size: 26px;
    width: 375px;
    height: auto;
    padding: 10px;
    margin: 5px;
  }
  form div button{
    font-size: 26px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 12px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -20px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -15px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .number{
    letter-spacing: 2px;
  }
  .copyright{
    font-size: 22px;
  }
  
  .nav_icon{
    margin-right: -10px;
  }
  
  .modal{
    width: 50%;
    height: auto;
  }
  .modal_cerrar{
    width: 40px;
    height: 40px;
    font-size: 23px;
    right: -20px;
    top: -20px;
  }
  .modal_titulo{
    font-size: 40px;
  }
  .modal_mensaje{
    font-size: 25px;
  }
  input,textarea{
    font-size: 25px;
    width: 375px;
    height: auto;
    padding: 8px;
    margin: 5px;
  }
  form div button{
    font-size: 25px;
    padding: 8px;
    margin: 5px;
    margin-bottom: 10px;
  }
  .redes{
    padding-bottom: 2px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -20px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -15px;
  }
}

/* @media only screen and (min-width: 1441px){
  .number{
    font-size: 90px;
    letter-spacing: 10px;
  }
  .number3{
    display: inline-block;
  }
  .moon{
    bottom: 50;
    left: 47%;
  }
  .copyright{
    font-size: 50px;
    top: 100%;
  }
  .dropdown-content{
    width: 6.4%;
  }
  .modal{
    width: 50%;
    height: auto;
  }
  .modal_cerrar{
    width: 40px;
    height: 40px;
    font-size: 50px;
    right: -20px;
    top: -20px;
  }
  .modal_titulo{
    font-size: 40px;
  }
  .modal_mensaje{
    font-size: 50px;
  }
  .mensaje5{
    padding-bottom: 20px;
  }
  input,textarea{
    font-size: 50px;
    width: 375px;
    height: auto;
    padding: 8px;
    margin: 5px;
  }
  form div button{
    font-size: 50px;
    padding: 8px;
    margin: 5px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -20px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -15px;
  }
} */